body{
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: brightness(70%);
}
body::before{
    background: rgba(255,255,255,0.85);
    padding: 30px;
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;
}
.form-wrapper{
    position: relative;
    z-index: 1; 
    
}